numpy
matplotlib
pandas
torch
torchvision
tqdm
certifi
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# if on linux, run:
# pip3 install torch==1.9.1+cu102 torchvision==0.10.1+cu102 -f https://download.pytorch.org/whl/torch_stable.html